body {
  background-color: #51524e;
}

.contentBox {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid;
  margin-bottom: 10px;
}

.dataApi {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 20px;
}

.dataDescription {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 20px;
}

.table {
  margin-top: 100px;
  border: 4px solid;
  background-color: rgb(190, 194, 189);
  /* box-shadow: 0 0 20px #fbfafde8; */
}

.row {
  margin: 10px;
}

.contentBox:hover {
  background-color: #555555;
  color: white;
  border: 3px solid #0a0a0a;
  box-shadow: 0 0 20px #5c4c7ce8;
}

input {
  font-size: 30px;
  border-radius: 100px;
  border: 4px solid;
  height: 50px;
  padding: 0 20px 0 20px;
  outline: none;
  box-shadow: 0 0 20px #fbfafde8;
  background-color: rgb(218, 231, 212);
}

.searchbar {
  display: flex;
  justify-content: end;
  align-items: center;
}

.input-body {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  position: relative;
}

.data {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  /* height: 1050px; */
}

button {
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 3px solid #4caf50;
  height: 50px;
}

button:hover {
  background-color: #555555;
  color: white;
  border: 3px solid #0a0a0a;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.prevbutton {
  margin-right: 20px;
}

.sortbox {
  font-size: 20px;
  font-weight: 600;
  width: 400px;
  border: 4px solid;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  right: 2%;
  top: 22%;
}

div:last-child {
  margin-top: 20px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.bottom-container {
  background-color: #1e212d;
  padding: 50px 10px 50px;
}

a {
  color: #f8f1f1;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding-left: 50px;
  padding-top: 10px;
  text-decoration: none;
  font-size: 20px;
}
a:hover {
  color: #ac9696;
}

.footerlink {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eaf6f6;
  font-size: 17px;
}

.middle-container {
  /* display: flex;
  align-items: center; */
  /* justify-content: center; */
  margin: 20px;
  min-height: 240px;
  max-height: 1050px;
}
